body {
    background-color: #ddd;
}

div {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 300px;
    height: 300px;
    float: left;
    margin: 30px;
    background-color: #fff;
}

div {
    /* some styles */
}
div.emphasis {
    background-color: #ddfcba
}
